.Vouchers {
  .VouchersListHead {
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 56px;
    }
    .CreateBtn {
      position: absolute;
      right: 12px;
      bottom: 48%;
    }
  }
  .VouchersList {
    .ant-picker-range-separator {
      margin: auto !important;
      color: #bbbbbb !important;
    }
    #PromotionPeriod {
      text-align: right !important;
    }
    .ant-picker-suffix {
      position: absolute;
      left: 0;
    }
    td {
      vertical-align: top !important;
      &:last-child {
        vertical-align: middle !important;
      }
    }
  }
  .Upcoming {
    display: inline-block;
    padding: 0.5px 1px;
    color: #ee4d2d;
    background-color: #fad8d1;
    font-size: 12px;
    border-radius: 8px;
  }
  .Expired {
    display: inline-block;
    padding: 0.5px 1px;
    color: #333333;
    background-color: rgb(223, 223, 223);
    font-size: 12px;
    border-radius: 8px;
  }
  .Ongoing {
    display: inline-block;
    padding: 0.5px 1px;
    color: #1ec559;
    background-color: #caffdd;
    font-size: 12px;
    border-radius: 8px;
  }
}
