.Vouchers {
  .VouchersListHead {
    .ant-tabs-tab + .ant-tabs-tab {
      margin-left: 56px;
    }
    .CreateBtn {
      position: absolute;
      right: 12px;
      bottom: 48%;
    }
  }
  .VouchersList {
    .ant-picker-range-separator {
      margin: auto !important;
      color: #bbbbbb !important;
    }
    #PromotionPeriod {
      text-align: right !important;
    }
    .ant-picker-suffix {
      position: absolute;
      left: 0;
    }
  }
}
