.preview-container {
  position: relative;
  width: 300px;
  margin-top: 40px;
  .preview-item {
    position: relative;
    height: 60px;
    border: 1px solid var(--border-color-gray);
    top: -1px;
    .title {
      position: absolute;
      width: 230px;
      max-height: 40px;
      top: 20px;
      left: 5px;
      line-height: 20px;
    }
    .image {
      position: absolute;
      width: 40px;
      height: 40px;
      top: 10px;
      right: 5px;
    }
    &:first-child {
      height: 120px;
      .title {
        width: 290px;
        top: auto;
        bottom: 10px;
      }
      .image {
        width: 298px;
        height: 118px;
        top: 0;
        right: 0;
        img {
          width: 298px;
          height: 118px;
          object-fit: cover;
        }
      }
    }
    &.active {
      border-color: var(--ant-primary-color);
      z-index: 19;
    }
  }
  .add-new {
    padding: 20px 0;
    text-align: center;
    color: #999;
    border: 1px solid var(--border-color-gray);
    background-color: #fff;
  }
  .action {
    position: absolute;
    top: 90px;
    right: -35px;
    background-color: #fff;
    width: 30px;
    text-align: center;
    border-radius: 20px;
  }
}
