.upload-list-wrap{
  &.small{
    .ant-upload.ant-upload-select-picture-card{
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 auto;
    }
  }
  .ant-upload.ant-upload-select-picture-card{
    border-color: #51ACF5;
    background: #fff;
    width: 95px;
    height: 95px;
  }
}