.shop-categories {
  .alert {
    border: 1px solid #91d5ff;
    background-color: #e6f7ff;
    .anticon {
      color: #1890ff;
    }
  }
}
.edit-name{
  display: flex;
  align-items: center;
  .edit-display-name{
    margin-right: 5px;
  }
}