.addProduct {
  .ant-form-item-required {
    width: 116px;
  }
  .ant-input-clear-icon.ant-input-clear-icon-has-suffix{
    display: flex;
  }
  .ant-select-selector {
    border-radius: 4px !important;
  }
  .ant-input-affix-wrapper {
    border-radius: 4px !important;
  }
  .ant-btn {
    border-radius: 4px !important;
    width: 100px !important;
  }
}
