.subscription-order-action .change-next-date.ant-picker {
  padding: 0;
  &:hover {
    color: var(--ant-primary-color) !important;
    border-color: none !important;
  }
  .ant-picker-input {
    display: none;
  }
}
