.voucher-select-product {
  .ant-col-offset-12 {
    margin-left: 0;
  }
  .ant-pro-table-search {
    padding: 0 !important;
    border: none !important;
  }
  .pro-form-query-filter-actions {
    margin-top: 24px;
    justify-content: flex-start;
    .ant-form-item-label {
      width: 0;
    }
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: flex-start;
    }
  }
  .ant-form-item {
    margin-bottom: 0 !important;
  }
}
