.productlist .product-search-top {
  padding-top: 20px !important;
  .ant-select-selector {
    border-radius: 5px !important;
  }
  .ant-input {
    border-radius: 5px !important;
  }
  .ant-input-affix-wrapper {
    border-radius: 5px !important;
  }
  .ant-input-number {
    border-radius: 5px !important;
  }
}
.cate-box{
  border: 1px solid rgb(217, 217, 217);
    padding: 0 11px;
    height: 32px;
    line-height: 32px;
}
