:root {
  --gray1: #f8f8f8;
}

.rc-table {
  .ant-table-thead {
    font-size: 14px;
    .ant-table-cell{
      font-weight: normal!important;
    }
    .ant-table-cell::before{
      width: 0!important;
    }
  }
}

.rc-anchor{
  .ant-anchor-ink-ball {
    width: 1px!important;
    height: 14px!important;
    border-left-width: 2px!important;
    border-bottom-width: 0!important;
    border-top-width: 0!important;
    border-right-width: 0!important;
    border-radius:0!important;
  }
}
