:root {
  --gray1: #f8f8f8;
}

.rc-table {
  .ant-table-thead {
    font-size: 14px;
    .ant-table-cell{
      font-weight: normal!important;
    }
    .ant-table-cell::before{
      width: 0!important;
    }
  }
}
