.category-detail {}
.list-title{
  margin-bottom: 20px;
}
.al-cneter{
  align-items: center;
}
.my-searchs{
  border: none!important;
  margin-bottom: 0!important;
  padding-top: 0!important;
  padding-left: 0!important;
  .ant-form-item{
    margin-bottom: 0;
  }
}
.set-delete-box{
  .ant-pro-table-alert{
    position: fixed!important;
    z-index: 99;
    bottom: 5px;
    background-color: #fff !important;
    right: calc(10% + 1.4rem);
    left: calc(200px + -3% + 1.25rem);
    padding: 10px !important;
    box-shadow: 0px -1px 6px #d2d2d2;
    .ant-alert-no-icon{
      padding:0!important;
    }
    .ant-alert-info{
      background-color: #fff !important;
      border: 1px solid #fff;
    }
  }
}
.ant-table {
  border: 1px solid #e5e7eb!important;
}
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}