.CreateNewVoucher {
  .Uploader .ant-form-item-label {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .VoucherType .ant-form-item-label {
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .Selectborder .ant-select-selector {
    border: 0;
    border-right: 1px solid #d9d9d9;
  }
  .Notreceived {
    background: url(../../assets/images/Received.png) no-repeat center;
    background-size: 110% 105%;
    .ant-image {
      flex: 1;
    }
  }
  .BasicInformation {
    .ant-upload-select {
      border: 1px dashed #51acf5 !important;
      background-color: #fff;
    }
  }
  .CoilingCenter {
    background: url(../../assets//images/CoilingCenter.png) no-repeat center;
    background-size: 100%;
  }
}
