.Address {
  .ant-table-tbody tr > td:first-child {
    padding: 0 !important;
  }
  .ant-table-thead tr > th:first-child {
    text-align: center;
  }
  .startOne {
    background: url('https://dtc-platform.oss-cn-shanghai.aliyuncs.com/SC-address-default.png') no-repeat 0 0;
    background-size: 105% 147%;
  }
}
