@font-face {
  font-family: "iconfont"; /* Project id 3298206 */
  src: url('iconfont.woff2?t=1649757661558') format('woff2'),
       url('iconfont.woff?t=1649757661558') format('woff'),
       url('iconfont.ttf?t=1649757661558') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianzu2:before {
  content: "\e615";
}

.icon-Frame3:before {
  content: "\e613";
}

.icon-Frame-1:before {
  content: "\e614";
}

.icon-a-xingzhuangjiehe2:before {
  content: "\e60d";
}

.icon-a-xingzhuangjiehe3:before {
  content: "\e60f";
}

.icon-bianzu-1:before {
  content: "\e610";
}

.icon-bianzu1:before {
  content: "\e611";
}

.icon-Frame2:before {
  content: "\e612";
}

.icon-a-Group437:before {
  content: "\e60a";
}

.icon-bianzu:before {
  content: "\e60e";
}

.icon-xingzhuangjiehe:before {
  content: "\e609";
}

.icon-Vector1:before {
  content: "\e607";
}

.icon-Frame1:before {
  content: "\e608";
}

.icon-Vector:before {
  content: "\e605";
}

.icon-Frame:before {
  content: "\e606";
}

.icon-dabaodaifahuo:before {
  content: "\e603";
}

.icon-rili:before {
  content: "\e602";
}

.icon-Order:before {
  content: "\e601";
}

