.pro-table-diy {
}
.pro-table-diy .ant-pro-table-search {
  padding: 1.5rem 1.75rem;
  margin-bottom: 1.5rem;
  background-color: white;
}
.pro-table-diy .ant-pro-table-list-toolbar-container {
  padding: 0 0 16px 0;
  display: flex;
  justify-content: space-between;
}
.pro-table-diy .ant-pro-card,.pro-table-diy .ant-table-cell{
  background-color: white;
}
.pro-table-diy .ant-tabs-tab-active .ant-badge-not-a-wrapper .ant-scroll-number{
  background-color: var(--ant-primary-1)!important; 
  color: var(--ant-primary-color)!important;
}
